@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* Scrollbar Modern */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #05070a;
}
::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
}

/* Animasi Wavy Underline di Referensi */
.underline-offset-8 {
    text-underline-offset: 12px;
}

/* Custom Glow Effect untuk tombol */
#upscaleBtn {
    box-shadow: 0 0 20px rgba(59, 130, 246, 0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

#upscaleBtn:hover {
    box-shadow: 0 0 30px rgba(59, 130, 246, 0.3);
    transform: translateY(-2px);
}

/* Style saat dark mode (opsional jika ingin toggle) */
.light-mode {
    background-color: #f8fafc;
    color: #020617;
}
.light-mode #placeholder {
    color: #e2e8f0;
}
.light-mode .bg-[#0f1218] {
    background-color: #ffffff;
    border-color: #e2e8f0;
}
